body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgba(218, 218, 218, 0.87);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --width-input:300px;
  --width-date-time:180px;
  --width-time:90px;
  --padding-top:10px;
  --background-color-content:rgb(248, 248, 248);
}
*{
  /* margin: 0px; */
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  height: 1000px;
}
label{
  font-weight:550;
  font-size: 0.9em;
}
input,select, option{
  height: 35px;
  border-radius: 5px;
  border: solid gainsboro 0.5px;
  outline-style: none;
}
::placeholder{
  padding-left: 10px;
}
#content{
  display: flex;
  width: auto;    
  margin: 200px;
  font-family: Arial, Helvetica, sans-serif;       
  background-color: rgb(255, 255, 255);
  height: 280px;
  
}
#form-search{
  width: 1000px;
  margin-left: 20px;
  height: fit-content;
  background-color: rgb(255, 255, 255);    
}
#menu-scrollView{
  width: min-content;
  padding-top: 10px;
  background-color: var(--background-color-content);
}

#ul-scrollView{
  overflow: auto;
  height: 230px;
  width: 250px;
  list-style-type: none;
  padding-left: 0px;
}
#option{
  width: 100px;
  margin-top: 3px;    
}
#address{
  width: var(--width-input);
  margin-top: 3px;
}
/* #btn-search{
  width: 180px;
  height: 40px;
  font-size: 1.1em;
  background-color: orangered;
  border-radius: 5px;
  color: white;
  border: none;
} */
.div-search-child{
  margin-top: 20px;
}
.li-content{
  height: 28px;    
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px 10px 10px;
}
.li-content:hover{
  background-color: rgb(255, 255, 255);
}
.input-date-time{
  width: var(--width-date-time);
  margin-top: 5px;
  
}
.input-time{
  width: var(--width-time);
  margin-top: 5px;
  margin-left: 10px;
}

#ul-scrollView{
  overflow: auto;
  height: 230px;
  width: 250px;
  list-style-type: none;
  padding-left: 0px;
}